.carousel {
  margin: 100px 0 120px 0;
  position: relative;
}

.card {
  width: 315px;
  height: 130px;
  background-color: #ebefff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  transition: 500ms;

  padding: 6px 1em;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.138);
}

.card h2 {
  margin: 0;
}
.card p {
  font-size: 12px;
  letter-spacing: 130%;
}

.card.left {
  transform: translateX(-125%);
  opacity: 0.8;
  scale: 0.8;
}

.card.right {
  transform: translateX(10%);
  opacity: 0.8;
  scale: 0.8;
}

.card.active {
  z-index: 99;
}
.dotGroup {
  display: flex;
  gap: 1em;
}

.dot {
  width: 12px;
  height: 12px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ebefff;
  transition: 300ms;
}

.dot:hover {
  background-color: #b088fec1;
}

.dot.active {
  background-color: #8140ff;
}

.dot.active:hover {
  background-color: #8140ff;
}

@media screen and (max-width: 750px) {
  .card {
    width: 200px;
    height: 210px;
    text-align: center;
  }

  .card h1 {
    font-size: 0.8em;
    margin-top: 5px;
  }

  .card span {
    font-size: 0.8em;
  }

  .carousel {
    margin: 120px 0 200px 0;
  }
}

@media screen and (max-width: 450px) {
  .card {
    width: 180px;
    height: 200px;
  }

  .card p {
    width: 160px;
    font-size: 0.9em;
  }

  .carousel {
    margin: 120px 0 200px 0;
  }

  .card.left {
    transform: translateX(-130%);
    opacity: 0.8;
    scale: 0.8;
  }

  .card.right {
    transform: translateX(10%);
    opacity: 0.8;
    scale: 0.8;
  }
}
