.carousel {
  margin: 100px 0 150px 0;
  position: relative;
}

.card {
  width: 310px;
  height: 130px;
  background-color: #ebefff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  transition: 500ms;

  overflow: hidden;
  padding: 6px 1em;
  border-radius: 6px;
}

.card h2 {
  margin: 0;
}
.card p {
  font-size: 12px;
}

.card.left {
  transform: translateX(-150%);
  opacity: 0.8;
  scale: 0.8;
}

.card.right {
  transform: translateX(25%);
  opacity: 0.8;
  scale: 0.8;
}

.card.active {
  z-index: 99;
  scale: 1.07;
}

@media screen and (max-width: 750px) {
  .card {
    width: 200px;
    height: 210px;
    text-align: center;
  }

  .card h1 {
    font-size: 0.8em;
    margin-top: 5px;
  }

  .card span {
    font-size: 0.8em;
  }

  .carousel {
    margin: 120px 0 200px 0;
  }
}

@media screen and (max-width: 450px) {
  .card {
    width: 180px;
    height: 220px;
  }

  .carousel {
    margin: 120px 0 200px 0;
  }

  .card.left {
    transform: translateX(-130%);
    opacity: 0.8;
    scale: 0.8;
  }

  .card.right {
    transform: translateX(10%);
    opacity: 0.8;
    scale: 0.8;
  }
}
