.linkItem {
    width: 50%;
    border: 1px solid transparent;
    color: #454751;

    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #bccaff;
    border-radius: 5px;
    padding: 15px;
}

.linkItem h3 {
    margin: 0;
}

.linkItem p {
    margin-top: 5px;
    opacity: .8;
}


.linkItem:hover,
.linkItem:focus{
    background-color: #7D88B3;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #e8ebf5;
    outline: none;
}

@media only screen and (max-width: 600px) {

    .linkItem {
        width: 90%;
    }
    

}