.userDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.userDetails > * {
  margin: 0;
}

.userDetails img {
  border-radius: 50%;
}

/* name and tag styles */
.nameDisplay {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.2em;
  height: 30px;
}

.tag {
  margin: 0;
  padding: 0;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.tag:hover {
  color: #eaedf5;
  font-size: 1.1em;
  cursor: pointer;
}

.tag:active {
  font-size: 1.1em;
  scale: 0.87;
}

/* tag tooltip styles */

.tooltip {
  background-color: #bccafff5;
  padding: 5px; 
  border-radius: 5px;
  color: #1c1c1e;
}

/* description styles */

.description {
  font-weight: 500;
  max-width: 500px;
  text-align: center;
}

.description p {
  margin: 0;
}
