.userDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
  margin-bottom: 20px;
  cursor: default;
}


.userDetails img {
  border: 2px solid #8140FF;
  border-radius: 50%;
  box-shadow: 2px 3px 3px 0px #9157FF40;
}
/* title and subtitle styles */

.purp {
  color: #8140FF;
  transition: color 300ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.purp:hover {
  color: black;
}

.name {
  font-weight: 600;
  font-size: 32px;
  height: 30px;
  margin: 6px 0;
  opacity: 0.9;
}

.details p {
  font-weight: 200;
  font-size: 18px;
  margin: 0;
  letter-spacing: 2%;
}

/* description styles */

.description {
  font-weight: 500;
  max-width: 380px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
}

.description p {
  margin: 0;
}
